@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --60: rgb(10,10,10);
  --30: rgb(30,30,30);
  --10: rgb(255,229,110);
  --10-dark: rgb(177,139,47);
  --white: rgb(250,250,250);
}

* {
  font-family: 'Outfit';
  font-weight: 400;
}

::selection {
  background: var(--10);
  color: var(--10-dark);
}
::-moz-selection {
  background: var(--10);
  color: var(--10-dark);
}
body {
  background-color: var(--60);
  color: rgb(250,250,250);
  margin: 0;
}

header {
  padding: 20px;
  background-color: var(--30);
  background: linear-gradient(180deg, var(--30) 0%, transparent 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  user-drag: none;
  -webkit-user-drag: none;
  & > h1 {
    margin:auto;
    color: var(--10-dark);

    -webkit-animation: Gold 5s ease-out infinite;
    -moz-animation: Gold 5s ease-out infinite;
    animation: Gold 3s ease-out alternate infinite;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
.header {
  margin: auto;
  &.left {
    margin-left: 12px;
    margin-right: auto; 
  }
  &.right {
    margin-left: auto;
    margin-right: 12px;
  }
  & > button {
    background:none;
    border:none;
    color: var(--white);
    font-size: 16px;
    transition: color .3s ease-out, transform .3s ease-out;
    &:hover {
      color: var(--10);
      cursor: pointer;
      transform: translate(0,3px);
    }
  }
}
.css-selector {
}

@-webkit-keyframes Gold {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}
@-moz-keyframes Gold {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}
@keyframes Gold {
  to {
    color: var(--10);
    text-shadow: rgb(255,229,126) 0px 0px 30px;
  }
}
